.btn {
  width: 100px;
  height: 35px;
  position: relative;
  background-color: #FFCF4E;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 69%;
  color: #fff;
  cursor: pointer;
}
.subgroup-btns {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}
.subgroup-btns.fixedSubg {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}
.sb.subgroup-btn-1 {
  background-color: rgba(79, 103, 255,0.27);
}
.sb.subgroup-btn-2 {
  background-color: rgba(84, 255, 79,0.27);
}
.sb.subgroup-btn-3 {
  background-color: rgba(255, 87, 87,0.27);
}

.sb {
  display: inline-block;
  cursor: pointer;
  color: #000;
  text-align: center;
  border: 2px solid #DEDEDE;
  padding: 7px 11px;
  width: 120px;
  margin-bottom: 4px;
}