.date-wrap {
  display: inline-block;
  float: right;
  text-align: center;
  padding: 4px 8px;
  height: 47px;
  overflow: hidden;
  border-left: 1px solid @head-border;
  line-height: 0.9;
  font-size: 10px;
  .time {
    display: inline-block;
    font-size: 22px;
  }
  .hours {
    display: inline-block;
  }
  .minutes {
    display: inline-block;
  }
  .date {
    height: 9px;
    overflow: hidden;
  }
}

.head {
  overflow: hidden;
  font-weight: 300;
  color: #fff;
  background: @head;
  width: 100%;
  position: relative;
  z-index: 6;
  * {
    transition: 0.3s;
  }

}
.logo {
  background-image: url(http://magtu.ru/images/brandbook/logo-no-shadow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 104px;
  height: 47px;
  display: inline-block;
  float: left;
  position: absolute;
  left: -22px;
  opacity: 0.14;
  z-index: -1;
}
.group-name {
  cursor: pointer;
  font-weight: 300;
  font-size: 23px;
  padding: 7px 3%;
  float: left;
  color: #FFFFFF;
  border-right: 1px solid @head-border;
}

form.head-search-form {
  display: inline-block;
  padding: 6px 8px;
  float: left;
  //width: 270px;
  text-align: right;
  position: relative;
  border-right: 1px solid @head-border;
  input.select2-search__field {
    width: 100% !important;
  }
  .select2-container {
    width: 200px !important;
  }
  .select2-container--default .select2-selection--multiple {
    background-color: rgba(255, 255, 255, 0.12);
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: transparent;
  }
  .select2-container--default .select2-selection--multiple {
    border: transparent;
  }
  .select2-dropdown {
    background-color: @head;
    border: transparent;
    color: #fff;
  }
}

.head-min {
  display: none;
  overflow: hidden;
  color: #fff;
  background-color: @head;
  position: fixed;
  width: 100%;
  max-width: 1170px;
  top: 0;
  z-index: 5;
    font-weight: 300;
  .date-wrap {
    height: 36px;
    padding-top: 5px;
  }
  .group-name {
    font-size: 20px;
    padding: 4px 0 0;
    text-align: center;
    float: none;
  }
  .time {
    font-size: 17px;
  }
  .weekday {
    font-size: 13px;
  }
  .date {
    height: 0;
  }
}
