.date-wrap {
  display: inline-block;
  float: right;
  text-align: center;
  padding: 3px 8px;
  height: 47px;
  overflow: hidden;
  border-left: 1px solid #356984;
  line-height: 0.9;
  font-size: 10px;
  .time {
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
  }
  .hours {
    display: inline-block;
  }
  .minutes {
    display: inline-block;
  }
}