.main-table {
  padding: 0 10px;
  table {
    width: 100%;
    font-size: 12px;
  }
}

.day {
  padding: 10px 5px 5px;
  .ad {
    color: #7B7B7B;
    font-style: italic;
    border-top: 1px solid #C7C7C7;
    line-height: 1;
    margin-top: 8px;
  }
  .teacher {

  }
}

.day-name {
  background-color: #267BA6;
  padding: 6px 0 10px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: white;
}

.day > table tr {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #A5A5A5;
  border-top: none;
  position: relative;
  transition: 0.3s ease-in;
}

.day > table tr > td {
  width: 1000px;
}

.less {
  padding: 7px 80px 6px 25px;
  width: 100%;
  word-break: break-word;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 4px;
    opacity: 0.9;
  }
  .title {
    text-transform: uppercase;
  }
}
.info {
  display: none;
  padding: 10px 10px 10px 10px;
  position: relative;
}
.homework {
  padding: 5px 9px 11px 10px;
  border: 1px solid #DCDCDC;
  color: #6D6D6D;
  background: #EAEAEA;
  word-break: break-word;
  img {
    max-width: 100%;
  }
}
.pencil-edit{
  cursor: pointer;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  right: 0;
  border-right: transparent;
  background-color: rgba(255, 221, 1, 0.85);
  background-image: data-uri('image/svg+xml;charset=UTF-8', '../../images/icons/pencil.svg');
}
.submit-edit-btn{
  background-color: #267BA6;
  border-radius: 2px;
  text-align: center;
  line-height: 20px;
  width: 90px;
  height: 28px;
  margin-top: 5px;
  color: #fff;
  &:hover {
    background-color: #2A8BBB;
  }
  &:active {
    line-height: 21px;
  }
}
.edit-area{
  width: 100%;
  height: 70px;
  border: 1px solid #267BA6;
  padding: 5px 8px;
  box-shadow: inset 0 4px 8px -6px;
}
.less.group-1 {
  background-color: rgba(79, 103, 255, 0.13);
  &:after {
   // content: 'Подгруппа 1';
  }
}

.less.group-2 {
  background-color: rgba(84, 255, 79, 0.17);
  &:after {
   // content: 'Подгруппа 2';
  }
}

.less.group-3 {
  background-color: rgba(255, 87, 87, 0.17);
  &:after {
   // content: 'Подгруппа 3';
  }
}

.aud {
  position: absolute;
  background: #2BCA54;
  color: #fff;
  bottom: 0;
  right: 0;
  line-height: 1.8;
  padding: 0 6px;
  z-index: 1;
}

.head {
  color: #fff;
  background: #1A5573;
}
.group-name {
  font-size: 23px;
  padding: 7px 3%;
  float: left;
  color: #FFFFFF;
  border-right: 1px solid #356984;
}
form.head-search-form {
  padding: 6px 8px;
  float: left;
  width: 270px;
  text-align: right;
  position: relative;
  border-right: 1px solid #356984;
  input.select2-search__field {
    width: 100% !important;
  }
  .select2-container {
    width: 100% !important;
  }
  .select2-container--default .select2-selection--multiple {
    background-color: rgba(255, 255, 255, 0.12);
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: transparent;
  }
  .select2-container--default .select2-selection--multiple {
    border: transparent;
  }
  .select2-dropdown {
    background-color: rgb(53, 105, 132);
    border: transparent;
    color: #fff;
  }
}

.week-name {
  background: #2BCA54;
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0px 4px 8px -6px #000;
  &:after {
    top: 8px;
    right: 7%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../images/icons/chevron-right.svg');
    content: '';
    position: absolute;
    width: 48px;
    height: 35px;
    background-position: 50% 50%;
  }
  &:before {
    top: 8px;
    left: 7%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../images/icons/chevron-left.svg');
    content: '';
    position: absolute;
    width: 48px;
    height: 35px;
    background-position: 50% 50%;
  }

}

//============================
// HIDE EMPTY LESSONS
//============================

.day > table tr.empty {
  height: 11px;
  background-color: #EAEAEA;
}
.empty +.empty {
  display: none !important;
}
.empty:last-child:not(:first-child) {
  display: none !important;
}
//============================
// CSS NUMBERING LESSONS
//============================

.day > table tr > td.haveLess:before {
  content: '';
  background-color: #E6BA41;
  color: #fff;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 1.7;
  top: 0;
  left: 0;
  z-index: 1;
}

.day > table tr > td.haveLess.less-1:before {
  content: '1';
}

.day > table tr > td.haveLess.less-2:before {
  content: '2';
}

.day > table tr > td.haveLess.less-3:before {
  content: '3';
}

.day > table tr > td.haveLess.less-4:before {
  content: '4';
}

.day > table tr > td.haveLess.less-5:before {
  content: '5';
}

.day > table tr > td.haveLess.less-6:before {
  content: '6';
}

.day > table tr > td.haveLess.less-7:before {
  content: '7';
}

.day > table tr > td.haveLess.less-8:before {
  content: '8';
}
.day > table tr > td.haveLess:after {
  content: ' ';
  font-size: 12px;
  font-style: normal;
  color: #A5A5A5;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 5px;
  line-height: 1.6;
  height: 20px;
}
.day > table tr > td.haveLess.less-1:after {
  content: '8:00 - 9:30';
}
.day > table tr > td.haveLess.less-2:after {
  content: '9:40 - 11:20';
}
.day > table tr > td.haveLess.less-3:after {
  content: ' 11:20 – 12:50';
}
.day > table tr > td.haveLess.less-4:after {
  content: '11:20 – 12:50';
}
.day > table tr > td.haveLess.less-5:after {
  content: '15:10 – 16:40';
}
.day > table tr > td.haveLess.less-6:after {
  content: '16:50 – 18:20';
}
.day > table tr > td.haveLess.less-7:after {
  content: '18:30 – 20:00';
}
.day > table tr > td.haveLess.less-8:after {
  content: '20:10 – 21:40';
}