.main-table {
  padding: 0 10px;
  table {
    width: 100%;
    font-size: 12px;
  }
}
.day {
  margin: 10px 5px 5px;
}
.day-name {
  background-color: @day-head;
  padding: 6px 0 10px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: white;
}

.week-name {
  background: @week;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 4px 8px -6px #000, 2px 2px 10px 0px rgba(0,0,0,0.18);
  font-weight: 300;
  &:after {
    right: 7%;
    background-image: url('../../images/icons/chevron-right.svg');
  }
  &:before {
    left: 7%;
    background-image: url('../../images/icons/chevron-left.svg');
  }
  &:after, &:before {
    top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 48px;
    height: 25px;
    background-position: 50% 50%;
  }

}

