@opacity: 70%;

//==initial== @color-base: hsl(255, 30%, 50%);
@color-base: hsl(269, 68%, 40%);
@color_1: @color-base;
@color_2: saturate(spin(@color-base,-50),40%);
@color_3: saturate(spin(@color-base,-116),39%);
@color_1-light: lighten(@color_1,10%);
@color_2-light: lighten(@color_2,10%);
@color_3-light: lighten(@color_3,10%);
@color_1-opacity: fade(@color_1,@opacity);
@color_2-opacity: fade(@color_2,@opacity);
@color_3-opacity: fade(@color_3,@opacity);
@color_1-light-opacity: lighten(fade(@color_1,@opacity),10%);
@color_2-light-opacity: lighten(fade(@color_2,@opacity),10%);
@color_3-light-opacity: lighten(fade(@color_3,@opacity),10%);

@gradient-color-1:lighten(saturate(spin(@color-base,-37),70%),38%);
@gradient-color-2:lighten(saturate(spin(@color-base,-48),70%),43%);

.delta {
  display: none;
  width: 100px;
  height: 100px;
  background-color: @color_3-light-opacity;
  border: 3px solid @color_3-light-opacity;
}

.color_1, .color_2 {
  color: #fff;
  &a {
    color: #fff;
    &:focus {
      color: #fff;
    }
  }
}

.color_1 {
  background: @color_1;
  &.hover:hover {
    background: @color_1-light;
  }
}

.color_2 {
  background: @color_2;
  &.hover:hover {
    background: @color_2-light;
  }
  &.opacity {
    color: @color_2-opacity;
    &.hover:hover {
      background: @color_2-light-opacity;
    }
  }
}

.color_3 {
  background: @color_3;
  &.hover:hover {
    background: @color_3-light;
  }
  &.opacity {
    color: @color_3-opacity;
    &.hover:hover {
      background: @color_3-light-opacity;
    }
  }
}