body *{
  box-sizing: border-box;
}
html, body{
  height: 100%;
}



@max-width: 1200px;
.page-wrap{
  max-width: @max-width; //960 + padding
  margin: 0px auto;
  padding: 0 15px;
  height: 100%;
}

.content {
  height: 100%;
  padding: 0px 0px 10px;
  box-shadow: 0px 5px 6px rgba(123, 132, 179, 0.47);
  background-color: #fff;
}