body * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

div#clearLocalStorage {
    font-weight: 300;
  display: none;
  cursor: pointer;
  background: @day-head;
  color: #fff;
  font-size: 10px;
  position: fixed;
  top: 3px;
  right: 4px;
  padding: 2px 10px 4px;
  opacity: 0.3;
  z-index: 15;
  &:hover {
    opacity: 1;
  }
}

.warning-msg {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.2;
  padding: 5px 10px;
  text-align: center;
  background: @warning;
  color: #fff;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
  a {
    color: #fff;
  }
}

span.msg-h {
  font-weight: bold;
}

@max-width: 1200px;
.page-wrap {
  max-width: @max-width; //960 + padding
  margin: 0px auto;
  padding: 0 15px;
  height: 100%;
}

.content {
  height: 100%;
  padding: 0px 0px 10px;
  box-shadow: 0px 5px 6px rgba(123, 132, 179, 0.47);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bffffa+66,bffffa+100 */
  background: rgb(255,255,255); /* Old browsers */

}
body * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

div#clearLocalStorage {
  font-weight: 300;
  //display: none;
  cursor: pointer;
  background: @day-head;
  color: #fff;
  font-size: 10px;
  position: fixed;
  top: 3px;
  right: 4px;
  padding: 2px 10px 4px;
  opacity: 0.3;
  z-index: 15;
  &:hover {
    opacity: 1;
  }
}

.warning-msg {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.2;
  padding: 5px 10px;
  text-align: center;
  background: @warning;
  color: #fff;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
  a {
    color: #fff;
  }
}

span.msg-h {
  font-weight: bold;
}

@max-width: 1200px;
.page-wrap {
  max-width: @max-width; //960 + padding
  margin: 0px auto;
  padding: 0 15px;
  height: 100%;
}

.content {
  height: 100%;
  padding: 0px 0px 10px;
  box-shadow: 0px 5px 6px rgba(123, 132, 179, 0.47);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bffffa+66,bffffa+100 */
  background: rgb(255,255,255); /* Old browsers */

}
//div#day-2-2 table:before {
  //content: 'С днём защитника отечества, мужчины!';
  //display: block;
  //text-align: center;
  //background: #D94152;
  //padding: 5px 10px;
  //font-size: 13px;
  //box-shadow: inset 0 4px 8px -6px #000;
  //color: #fff;
//}
//div#day-2-2:before {
 // content: '';
 // position: absolute;
  //top: -5px;
 //left: -13px;
 // width: 90px;
 // height: 64px;
  //background-image: url(http://fiesta-saratov.ru/wp-content/uploads/2013/02/2345963-3da3bb9f7c5d5b11.png);
  //z-index: 2;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background-position: 50% 50%;
//}
